#!/bin/bash
#    ___      ___                 _         
#   / _/_ _  / _/__  ___ _______ (_)______ _
#  / _/  ' \/ _/ _ \/ -_) __/ -_) / __/ _ `/
# /_//_/_/_/_// .__/\__/_/  \__/_/_/  \_,_/ 
#            /_/         
# debian launchpad start script.

# Init control center with the options
launchpad controlcenter start --https-port={{ launchpad.default_https_port }} --http-port={{ launchpad.default_http_port }} --project-prefix={{ launchpad.default_domain_prefix }}

# Add the ssh key
launchpad controlcenter add_ssh_key {{ launchpad.default_ssh_key_path }}
